name: Dispatch Combinado
run-name: Running - ${{ github.event_name }}
on:
    workflow_dispatch:
        inputs:
            tags:
                description: Selecione a tag
                type: choice
                options: [tag1, tag2, tag3]
                default: tag1
                required: true
            resposta:
                description: exemplo Checkbox
                type: boolean
            texto: 
                description: digite um texto aqui!
                type: string
jobs:
    on-workflow_dispatch:
        runs-on: ubuntu-latest
        steps: 
          - name: Comentário
            run: |
                echo "Comentário WORKFLOW DISPATCH"
                echo "selecionado - ${{inputs.tags}}"
                echo "estado da checkbox: ${{inputs.resposta}}"
                echo "texto escrito: ${{inputs.texto}}"